<footer class="site-footer">

    <div class="footer-container">

        <!-- BRAND -->

        <div class="footer-column footer-brand">

            <h2>
                Second Chance Store
            </h2>

            <p>
                Quality second-hand products,
                all in one place.
            </p>

        </div>


        <!-- SHOP -->

        <div class="footer-column">

            <h3>
                Shop
            </h3>

            <a href="products.html">
                Products
            </a>

            <a href="home.html">
                home
            </a>

            <a href="house.html">
                Houses
            </a>

            <a href="sell.html">
                Sell
            </a>

        </div>


        <!-- ACCOUNT -->

        <div class="footer-column">

            <h3>
                Account
            </h3>

            <a href="account.html">
                My Account
            </a>

            <a href="cart.html">
                Cart
            </a>

            <a href="sell.html">
                Sell
            </a>

            

            <a href="admin\dashboard.html">
                admin
            </a>

        </div>


        <!-- SUPPORT -->

        <div class="footer-column">

            <h3>
                Support
            </h3>

            <a href="#">
                Contact Us
            </a>

            <a href="#">
                Help Center
            </a>

            <a href="#">
                How It Works
            </a>

        </div>

    </div>


    <!-- COPYRIGHT -->

    <div class="footer-bottom">

        <p>
            © 2026 Second Chance Store.
            All rights reserved.
        </p>

    </div>

</footer>