
<header class="house-site-header">

    <nav class="house-header-inner">

        <!-- ==========================================
             LOGO
        =========================================== -->

        <a
            href="home.html"
            class="house-site-logo"
        >
            <img
                src="images/Gemini_Generated_Image_rynewvrynewvryne.png"
                alt="Second Chance Store"
            >
        </a>


        <!-- ==========================================
             HOUSE SEARCH
        =========================================== -->

        <form
            id="house-header-search-form"
            class="house-header-search"
        >

            <input
                type="search"
                id="house-header-search-input"
                placeholder="Search houses, areas or landmarks..."
                autocomplete="off"
            >

            <button
                type="submit"
                id="house-header-search-button"
                aria-label="Search houses"
            >

                <span class="material-symbols-outlined">
                    search
                </span>

            </button>

        </form>


        <!-- ==========================================
             USER AREA
        =========================================== -->

        <div
            id="house-user-account"
            class="house-header-user-area"
        >

            <button
                type="button"
                id="house-login-button"
            >
                Login with Google
            </button>


            <a
                href="account.html"
                id="house-user-name"
                class="house-header-user-link"
            >

                <span class="material-symbols-outlined">
                    person
                </span>

                <span id="house-header-user-name"></span>

            </a>


            <button
                type="button"
                id="house-logout-button"
            >
                Logout
            </button>

        </div>


        <!-- ==========================================
             CART
        =========================================== -->

        <a
            href="cart.html"
            id="house-cart-link"
            aria-label="Shopping cart"
        >

            <span class="material-symbols-outlined">
                shopping_cart
            </span>

            <span id="house-cart-count">
                0
            </span>

        </a>

    </nav>

</header>

